<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>usuarioServlet</servlet-name>
        <servlet-class>com.udea.skadysystem.controller.UsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>paletaServlet</servlet-name>
        <servlet-class>com.udea.skadysystem.controller.PaletaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ventasServlet</servlet-name>
        <servlet-class>com.udea.skadysystem.controller.VentasServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>usuarioServlet</servlet-name>
        <url-pattern>/usuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>paletaServlet</servlet-name>
        <url-pattern>/paletaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ventasServlet</servlet-name>
        <url-pattern>/ventasServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
